<div class="adventurers scrollable">
    <span class="column-title">Mustering Hall</span>
    <div class="card-column scrollable">
        {{#each adventurers.alive}}
        {{> 'modules/talia-custom/templates/guildTemplates/partials/adventurerCard.hbs' }}
        {{/each}}
    </div>

    {{#if isGM}}
    <div class="gm-buttons">
        <button 
            class="gm-button"
            type="button"
            data-action="createNewAdventurer"
        >Create New Adventurer</button>
    </div>
    {{/if}}
</div>

