<div class="missions scrollable">
    <span class="column-title">Mission Board</span>
    <div class="card-column scrollable">
        {{#each guild._missions}}
        {{#unless hasFinished}}
        {{> 'modules/talia-custom/templates/guildTemplates/partials/missionCard.hbs' }}
        {{/unless}}
        {{/each}}
    </div>

    {{#if isGM}}
    <div class="gm-buttons">
        <button 
            class="gm-button"
            type="button"
            data-action="createNewMission"
        >Create New Mission</button>
    </div>
    {{/if}}
</div>