
<div class="form-group">
    <label>Sorcery Points</label>
    <div class="form-fields">
        <input type="text" value="{{sorcPoints.curr}}/{{sorcPoints.max}}" disabled="">
    </div>
    <p class="hint">Each converted spell slot grants an amount of Sorcery Points equal to its level.</p>
</div>

{{#each spellLevels}}
<div class="form-group">
    <label>{{label}}</label>
    <div class="form-fields">
        {{#each slots}}
        <input type="checkbox" name="{{slotName}}" {{#if isDisabled}} disabled="" {{/if}}>
        {{/each}}
    </div>
</div>
{{/each}}

<footer class="form-footer">
    <button type="button" data-action="okay" autofocus>
    <i class="fas fa-check"></i>
    <span>Ok</span>
    </button>
</footer>
