<div class="tab general {{tabs.general.cssClass}} scrollable" data-tab="general" data-group="main">
    {{> 'modules/talia-custom/templates/guildTemplates/partials/missions.hbs' }}
    {{> 'modules/talia-custom/templates/guildTemplates/partials/adventurers.hbs' }}
</div>