<div class="tab gmtab {{tabs.gmtab.cssClass}} scrollable" data-tab="gmtab" data-group="main">
     <div class="tab-header">
        <span class="column-title">GM Overview</span>
    </div>
    <div class="gm-info">
        
    </div>
</div>
