<div class="header name-stacked">
    <div class="stats">
        <span class="guild-name">{{guild.name}}</span>
    </div>
    <div class="stats">
        <span class="current-date">{{guild.currentDate.displayString}}</span>
    </div>
    <button 
        class="document-notes-button"
        type="button"
        data-action="openNotes"
    >Open Notes</button>
</div>